@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Noto+Serif+Old+Uyghur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap');

section{
  padding-top: 5rem;
}
a{
  text-decoration: none;
  color:#ffffff;
  
}
a:hover{
  color:#FFD700;
}
nav li.nav-item a.nav-link.text-white:hover{
  color:#FFD700;
}
body{
  background-color: #000000
}
/* Home Section */
.home-section .row h1 {
  font-family: "Noto Serif Old Uyghur", sans-serif;
  max-width: 40ch;
  padding-top: 1.5rem;
  text-align: center;
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.home-section .row span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.home-section span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-section span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.home-section .row p{
  text-align: center;
  color: white;
  font-size: 18px;
}
/* end home section */

/* about section */
.about-section{
    font-family: "Noto Serif Old Uyghur", sans-serif;
}
.about-section .row h2{
    text-align: center;
    color: #FFD700;
}
.about-section .row h3{
    text-align: start;
    font-size: 24px;
    color: #FFD700;
}
.about-section .row p{
    text-align: justify;
    color: #FFFFFF;
    font-size: 18px;

}
.about-section ul{
    text-align: start;
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 0px;
}
.about-section .ul .li p{
    text-align: start;
    color: #FFFFFF;
    font-size: 5px;
    padding-left: 0px;
}
/* end about section */

/* projcet section */
.project-section{
    font-family: "Noto Serif Old Uyghur", sans-serif;
}
.project-section .row h2{
    text-align: center;
    color: #FFD700;
}
.project-section .row .card{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 95%;
    margin-bottom: 30px;

}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #2f1686 0%,
    #6504cc 29%,
    #ff1361 67%,
    #ffd700 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* end project section */

/* footer section */
.footer-section{
    background-color: #212529;
}
.footer-section .row h3{
    font-family: 'Roboto', sans-serif, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #FFD700;
}
.footer-section .row p{
    padding-left: 30px;
    text-align: start;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.footer-section .row .ul .li img{
    padding-left: 30px;
    margin-bottom: 20px;
}
.footer-section .row img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.footer-section .row ul,li{
    text-align: start;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
/* end footer */

/* words section */
.words-section .row h1 {
  font-family: "Noto Serif Old Uyghur", sans-serif;
  max-width: 40ch;
  padding-top: 1.5rem;
  text-align: center;
  transform: scale(0.94);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.words-section .row span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.words-section span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words-section span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.words-section .row p{
  text-align: center;
  color: white;
  font-size: 18px;
}
/* end words section */